@if (!Disabled)
{
    <button class="sq-button sq-icon-button @AdditionalClasses" @onclick=OnClick @attributes=AdditionalAttributes>
        <SqIcon IconName="@Icon" />
        @if (!string.IsNullOrEmpty(Label))
        {
            <span class="sq-button-text">@Label</span>
        }
    </button>
}
else
{
    <button class="sq-button sq-icon-button @AdditionalClasses" @onclick=OnClick @attributes=AdditionalAttributes disabled>
        <SqIcon IconName="@Icon" />
        @if (!string.IsNullOrEmpty(Label))
        {
            <span class="sq-button-text">@Label</span>
        }
    </button>
}

@code {
    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string AdditionalClasses { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
