@inherits GenericEditorBase<Manuscript>

@using Squill.Data;
@using Squill.Data.Elements;
@using Squill.Services;
@inject TabService TabManager

<div class="sq-editor">
    @*<MudPaper Style="padding: 1rem;">
        <MudPaper Elevation="5" Style="display:flex;margin-bottom: 1.5rem;padding: .75rem;align-items:center;">
            <MudIcon Icon="@Icons.Material.Outlined.Numbers" Size="Size.Small" />Word Count: @Target.Chapters.Sum(c => int.Parse(Session.GetMetaData(Guid.Parse(c)).Attributes[Chapter.WORD_COUNT_ATTRIB_KEY]))
        </MudPaper>
        <MudStack Spacing="1">
            @for (var i = 0; i < Target.Chapters.Count; ++i)
            {
                var chapterGuid = Target.Chapters[i];
                var index = i;
                var chapter = Session.GetMetaData(Guid.Parse(chapterGuid));
                if (chapter != null)
                {
                    chapter.Attributes.TryGetValue(Chapter.WORD_COUNT_ATTRIB_KEY, out var wordCount);
                    <MudItem>
                        <MudStack Row="true" Class="manuscript-row">
                            <span style="width: 1rem;">@(index + 1).</span>
                            <span style="width: 30%;">@chapter.Name</span>
                            <MudDivider Vertical=true Style="margin: 0 .5rem 0 .5rem;height: 1.5rem;" />
                            <span style="width: 10%;">@(wordCount ?? "0") Words</span>
                            <MudDivider Vertical=true Style="margin: 0 .5rem 0 .5rem;height: 1.5rem;" />
                            @{
                                var links = chapter.GetEntityLinks();
                                if (links != null)
                                {
                                    <MudAvatarGroup MaxSize="Size.Small" Max="6">
                                        @foreach (var entityLink in chapter.GetEntityLinks())
                                        {
                                            var meta = Session.GetMetaData(entityLink);
                                            var type = Type.GetType(meta.Type);
                                            if (!meta.Attributes.TryGetValue("color", out var color))
                                            {
                                                color = type.GetColor().ToString();
                                            }
                                            <MudAvatar Style="@($"background-color:{color};color:black !important;")" Size="Size.Small">
                                                <MudTooltip>
                                                    <ChildContent>
                                                        @meta.Name.FirstOrDefault()
                                                    </ChildContent>
                                                    <TooltipContent>
                                                        @meta.Name
                                                    </TooltipContent>
                                                </MudTooltip>
                                            </MudAvatar>

                                        }
                                    </MudAvatarGroup>
                                }
                            }
                            <MudSpacer />
                            <MudIconButton Icon="@Icons.Material.Filled.ExpandMore" OnClick="() => Reorder(chapter, index + 1)" Style="padding:0;" Disabled="@(index == Target.Chapters.Count - 1)" />
                            <MudIconButton Icon="@Icons.Material.Filled.ExpandLess" OnClick="() => Reorder(chapter, index - 1)" Style="padding:0;" Disabled="@(index == 0)" />
                            <MudIconButton Icon="@Icons.Material.Filled.LinkOff" OnClick="() => Target.Chapters.Remove(chapter.Guid)" Style="padding:0;" />
                            <MudIconButton Icon="@Icons.Material.Filled.OpenInNew" OnClick="() => TabManager.AddTab(chapter)" Style="padding:0;" />
                        </MudStack>
                    </MudItem>
                }
                else
                {
                    <MudItem>
                        <MudText Color="Color.Error">Bad Element Ref: @chapterGuid</MudText>
                    </MudItem>
                }
            }
            <MudDivider />
            <MudButtonGroup Variant="Variant.Outlined">
                <ElementPicker Label="Add Existing Chapter" ValueChanged="AddExistingChapter" ElementType=typeof(Chapter) Filter="(e) => !Target.Chapters.Contains(e.Guid.ToString())" />
                <MudButton OnClick="AddNewChapter" Variant="Variant.Outlined"><MudIcon Icon="@Icons.Material.Filled.Add" />New Chapter</MudButton>
            </MudButtonGroup>
        </MudStack>
    </MudPaper>*@
</div>

@code {
    private async Task AddExistingChapter(Guid chapter)
    {
        if (!Target.Chapters.Contains(chapter.ToString()))
        {
            Target.Chapters.Add(chapter.ToString());
            var chapterObj = Session.GetElement<Chapter>(chapter);
            chapterObj.Owner = Target.Guid.ToString();
            await Session.UpdateElement(chapterObj);
            await Invalidate();
        }
    }

    private void Reorder(ElementMetaData chapter, int newIndex)
    {
        Target.Chapters.Remove(chapter.Guid);
        Target.Chapters.Insert(newIndex, chapter.Guid);
    }

    private async Task AddNewChapter()
    {
        var newChapter = await Session.CreateNewElement(typeof(Chapter)) as IOwnedElement;
        newChapter.Owner = Element.Guid.ToString();
        await Session.UpdateElement(newChapter);
        Target.Chapters.Add(newChapter.Guid.ToString());
        await Invalidate();
        TabManager.AddTab(Session.GetMetaData(newChapter.Guid));
    }

    public override RenderFragment Toolbar => __builder =>
    {
        //<MudButton StartIcon="@Icons.Material.Filled.ImportExport" Size="Size.Small" Style="width: 5rem" OnClick="ExportDocument">Export</MudButton>
        //<MudDivider Vertical=true Style="margin: 0;height: 1.5rem;border-color:white;" />
    };

    private async Task ExportDocument()
    {
        await ExportHelper.Export(Session, Meta, Target, ExportHelper.eExportFormat.HTML);
    }
}
