@using Squill.Components.Layout
@using Squill.Data;
@using Squill.Services;
@inject TabService TabManager

<div class="sq-element-picker">
    <SqMenu Icon="@((m_lastType ?? ElementType).GetIcon())" Label="@($"{Label} {m_lastName}")" >
        @foreach (var match in Session.ElementMeta)
        {
            var type = Type.GetType(match.Type);
            if (!ElementType.IsAssignableFrom(type))
            {
                continue;
            }
            if (Filter != null && !Filter.Invoke(match))
            {
                continue;
            }
            if (m_explicitTypeFilter != null && !m_explicitTypeFilter.IsAssignableFrom(type))
            {
                continue;
            }
            <SqMenuButton Label="@match.Name" OnClick="async () => await SetItem(match)" />
        }
    </SqMenu>
    <SqIconButton Icon="box-arrow-up-right" OnClick="() => TabManager.AddTab(Session.GetMetaData(Value))" Disabled="Value == default" />
    <SqMenu Icon="@(m_explicitTypeFilter != null ? m_explicitTypeFilter.GetIcon() : "filter")">
        @{
            var subTypes = ElementType.GetTypesImplementing();
            if (subTypes.Any())
            {
                foreach (var type in subTypes)
                {
                    var t = type;
                    <SqMenuButton Label="@type.GetName()" OnClick="() => m_explicitTypeFilter = t" />
                }
            }
        }
    </SqMenu>
</div>

@code {
    [Parameter]
    public Type ElementType { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public Guid Value { get; set; }

    [Parameter]
    public EventCallback<Guid> ValueChanged { get; set; }

    [Parameter]
    public Func<ElementMetaData, bool> Filter { get; set; }

    [CascadingParameter]
    public ProjectSession Session { get; set; }

    private string m_lastName;
    private Type m_lastType;
    private Type m_explicitTypeFilter;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        var meta = Session.GetMetaData(Value);
        if (meta != null)
        {
            m_lastName = meta.Name;
            m_lastType = Type.GetType(meta.Type);
        }
    }

    private async Task SetItem(ElementMetaData metaData)
    {
        m_lastName = metaData?.Name;
        Value = Guid.Parse(metaData.Guid);
        await ValueChanged.InvokeAsync(Value);
    }
}
